# Web frameworks
flask
fastapi
uvicorn
streamlit
langchain==0.0.300
langchain-community
langchain-experimental

# HTTP clients
requests>=2.28
httpx

# Database
psycopg2-binary
sqlparse
chromadb
# Utilities
faker>=18.0.0
python-dotenv

# APIs
openai
langchain-openai